version: '2'

services:
  http:
#    labels:
#      traefik.frontend.rule: "Host:app.docker"

#    ports:
#      - "80:80"

#    environment:
#      - VIRTUAL_HOST=app.docker
#    networks:
#      - default
#      - proxy

  php:
    volumes:
      - ~/.cache/composer:/home/.composer/cache

#    labels:
#      traefik.enable: "false"

#networks:
#  proxy:
#    external:
#      name: proxy
